/* General Styles Start */
/*-----------------------*/
html {
  position: relative; /*for sticky footer */
  min-height: 100%; /*for sticky footer */
}
body {
    background: url("../images/seamless_paper_texture.png");
    margin-bottom: 40px; /*for sticky footer */
    color: #212121;
}
.ks-container {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    padding: 0px;
}
/* Fonts */
.h-font {
    font-family: 'EB Garamond', serif;
}
.navbar-light .navbar-nav .active>.nav-link {
    color: #42611F;
}
.navbar-light .navbar-nav .nav-link {
        color: rgb(118, 173, 55);
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    font-size: 22px;
    transition: .5s ease;
    color:#42611F;
}
.icon {
     font-size: 2.8rem;
     color:  #42611F;
}
/*Navigation Bar*/
.ks-nav{
    font-size: 1.2rem;
    border-right: 1px solid rgb(118, 173, 55);
    padding: 0;
  }
.navbar-nav li:last-child a{
    border:none;
}
.navbar {
    overflow: hidden;
    padding: 0px 25px;
    background-color: rgb(243, 241, 237);
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 1;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
/*Footer*/
footer {
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    line-height: 40px; /*vertically centers */
}
/* KS-Button Styles */
.ks-button {
    background-color: rgb(118, 173, 55);
    color: #fff;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    /*   background-color: transparent; */
    border: none;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.ks-button:hover {
    color: #fff;
    background-color: #42611F;
    border-color: #42611F;
    text-decoration: none;
}
.ks-button:focus {
    box-shadow: 0 0 0 0.2rem rgba(118, 173, 55, 0.5);
    outline: 0;
}
.ks-button:active {
    color: #fff;
    background-color: #42611F;
    border-color: #42611F;
}
/*-----------------------*/
/* General Styles End */

/* Home Page Styles Start */
/*-----------------------------*/
.main {
  margin-top: 68px;
  margin-bottom: 78px;
}
/*-Login-- */
#login {
    display:block;
}
#password {
    display:block;
}
.fa-user {
    color: rgb(118, 173, 55);
}
input {
    border-radius: 5px;
    border-style: none;
    padding: 5px;
}
input:focus {
    outline: none;
    box-shadow: 0 0 0 0.1rem rgba(118, 173, 55, 0.5);
}
.onNewLine {
    display:block;
}
a {
    color: rgb(118, 173, 55);
}
a:hover {
    color: #42611F;
}
/*-----------------------------*/
/* Home Page Styles End */

/* Meal Plan Page styles Start */
/*----------------------------------*/
/* Week Day Buttons */
.week-cards {
    /* display: inline-block; */
    width: 8rem;
    float: left;
    margin: 0.5px;
}
button div div h5 {
    font-size: 0.85rem;
} 
/********************************/
/* Breakfast lunch Dinner Styles */
.meal-holder {
    width: 202px;
    height: 302px;
    background-color: #B01A04;
}
.meal-header {
    font-size: 25px;
}
/********************************/
/* Form styling */
#searchTitleSpacing {
    margin-top: 10px;
}
#submitButtonSpacing {
    margin: 20px;
}
.ks-button-form-submit {
    width: 80px;  
    height: 30px;
    background-color: rgb(118, 173, 55);
    color: #fff;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    /*   background-color: transparent; */
    border: none;
    padding-top: 2px;
    padding-bottom: 5px;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.ks-button-form-submit:hover {
    color: #fff;
    background-color: #42611F;
    border-color: #42611F;
}
.ks-button-form-submit:focus {
    box-shadow: 0 0 0 0.2rem rgba(118, 173, 55, 0.5);
    outline: 0;
}
.ks-button-form-submit:active {
    color: #fff;
    background-color: #42611F;
    border-color: #42611F;
}
/********************************************/
/* Results Slide */ 
.slideContainer {
    padding-left: 30px;
}
.imageContainer {
    /* padding-left: 30px; */
}
.card {
    width: 202px;
    height: 302px;
    margin: auto; 
    float: left; 
    margin-bottom: 10px; 
}
.card-img-top {
    width: 202px;
    height: 124px;
}
.card-body {

}
.card-title {
    font-size: 1em;
}
.ks-button-recipe {
    width: 40px;  
    height: 35px;
    background-color: rgb(118, 173, 55);
    color: #fff;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    /*   background-color: transparent; */
    border: none;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.ks-button-recipe:hover {
    color: #fff;
    background-color: #42611F;
    border-color: #42611F;
}
.ks-button-recipe:focus {
    box-shadow: 0 0 0 0.2rem rgba(118, 173, 55, 0.5);
    outline: 0;
}
.ks-button-recipe:active {
    color: #fff;
    background-color: #42611F;
    border-color: #42611F;
}
.favoriteButton {
    color: rgb(33, 33, 33);
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
}
 .favoriteButton:hover {
    color:  rgba(176, 27, 4, .5);
    transition: .8s ease;
} 
.favoritedButton {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
    color: rgb(176, 27, 4);
}
/**************************************************/
/* Favorites Container */
.favorite-container {
    background-color: #B01A04;
}
/**************************************************/
/*---------------------------------*/
/* Meal Plan Page styles End */